.todo-countainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 70%;
  .todo-content{
    height: 80%;
    width: 100%;
    overflow-y: auto;
  }
  .todo-content::-webkit-scrollbar {
    width: 0px;
  }
}
