.todo-element {
  display: flex;
  align-items: center;
  width: 100%;

  background-color: rgba(247, 247, 247, 0.7);
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  justify-content: space-between;
  .todo-list-text-countainer {
    width: 80%;
  }
  .todo-list-text-countainer {
    width: 80%;
  }

  .todo-list-text {
    width: 100%;
    overflow-wrap: break-word;
  }
  .todo-conent-icons {
    color: rgba(255, 100, 19, 0.7);
    margin-right: 10px;
    cursor: pointer;
  }
}
.complete-todo {
  background-color: rgba(209, 247, 207, 0.8);
  text-decoration: line-through;
}
